.su{
    border-image: 10px;
    margin-left: 0px;
    margin-bottom: auto;
    width: 20%;
    height: 10%;
}
.a1{
    text-align: right;
    font-size: large;
    margin-left: 40%;
    margin-top: 10%;

}

.a2{
    
        text-align: center; /* Center-align the text content horizontally */
        display: flex;
        flex-direction: column;
        align-items: right; /* Center-align the child elements vertically */
        justify-content: right; /* Center-align the child elements horizontally */
        /* Set a height to vertically center the content within the viewport */
      
}
.a3 {
    text-align: center; /* Center-align the text content horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the child elements vertically */
    justify-content: center; /* Center-align the child elements horizontally */
    /* Set a height to vertically center the content within the viewport */
  }
  .a4 {
    text-align: center; /* Center-align the text content horizontally */
    display: flex;
    flex-direction: column;
    align-items: right; /* Center-align the child elements vertically */
    justify-content: right; /* Center-align the child elements horizontally */
    /* Set a height to vertically center the content within the viewport */
  }
  .a5 {
    text-align: center; /* Center-align the text content horizontally */
    display: flex;
    flex-direction: column;
    align-items: right; /* Center-align the child elements vertically */
    justify-content: right; /* Center-align the child elements horizontally */
     /* Set a height to vertically center the content within the viewport */
  }
